name: ZAP PROD Scanner for SCSS APIs
on:
  schedule:
    # Scheduled Scanning of Prod
    - cron:  '00 06 * * 6'

jobs:
  zap_scan:
    runs-on: ubuntu-20.04
    name: Scan the application
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      
      - name: Update zap properties file
        run: echo  "replacer.full_list(0).replacement=${{ secrets.BASIC_AUTH_HEADER_PROD }}" >> "$GITHUB_WORKSPACE/zapoptions.prop"
      
      - name: ZAP PROD Scan - SCSS API
        uses: zaproxy/action-api-scan@v0.1.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          format: soap
          docker_name: 'owasp/zap2docker-stable'
          issue_title: 'ZAP PROD Scan Report - SCSS API'
          target: '${{ secrets.JAG_SCSS_API_RouteUrl_PROD }}/ws/SCSS.Source.CeisScss.ws.provider:CeisScss?WSDL'
          fail_action: true
          cmd_options: '-c "zaprules.conf" -S -z "-configFile /zap/wrk/zapoptions.prop"'
